@using DistanceLearning.Web.Models;
@{
    ViewBag.Title = "О тесте";
}
@model DistanceLearning.Web.Models.Test
<h2>О тесте</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <link rel="stylesheet" href="~/Content/CourseInfo.css">
    <link rel="stylesheet" href="~/Content/TextBox.css">
    <br />
    <p>
        <a href="/Courses/Course/@Model.CourseId">
            Назад к курсу
        </a>
    </p>

    <h7 align="left"><font size="8"><font face="Times New Roman, Times, serif"><b>@Html.DisplayFor(model => model.Name)</b></font></font></h7>

    <!--TEST-->
    <p><h3>Кол-во вопросов</h3></p>
    <h7>@ViewData["ques"]</h7>
    <p><h3>Время на выполнение</h3></p>
    <p>@Html.DisplayFor(model => model.Time)</p>


    @if (this.User.IsInRole("admin"))
    {
        <fieldset>
            <legend>Вопросы</legend>
            @foreach (var item in ViewBag.Questions)
            {
                <ul>
                    <li>
                        @item.Task
                        @using (Html.BeginForm("DeleteQ", "Test", FormMethod.Post))
                        {
                            <input type="hidden" name="id_question" value="@item.Id" />
                            <input class="input-style" type="submit" value="УДАЛИТЬ" />
                        }

                    </li>
                </ul>
            }

        </fieldset>

    }

    @if (this.User.IsInRole("admin"))
    {
        <!--Переход на редактирование-->
            using (Html.BeginForm("ViewTestEdit", "Test", FormMethod.Post))
            {
                <input type="hidden" name="id_test" value="@Model.Id" />
                <input class="input-style" type="submit" value="Редактировать" />
            }
    }
    
</body>
</html>

