@using DistanceLearning.Web.Models;
@{
    ViewBag.Title = "О тесте";
}
@model DistanceLearning.Web.Models.Test
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CourseInfo.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <div class="head_text">
                <p style="font-size:35px;">
                    @Html.DisplayFor(model => model.Name)</p>
                <a class="btn btn-primary" href="/Courses/Course/@Model.CourseId">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <b>Back to Course</b>
                </a>

                <!--TEST-->
                <p style="font-size:25px;">Number of questions</p>
                <h7>@ViewData["ques"]</h7>
                <p style="font-size:25px;">Time to perform</p>
                <p>@Html.DisplayFor(model => model.Time)</p>
            </div>
            <div class="list_test">
                @if (this.User.IsInRole("admin"))
                {
                    <fieldset>
                        <legend>Questions</legend>
                        @foreach (var item in ViewBag.Questions)
                        {
                            <p>
                                    @item.Task
                                    @using (Html.BeginForm("DeleteQ", "Test", FormMethod.Post))
                                    {
                                        <input type="hidden" name="id_question" value="@item.Id" />
                                        <input  class="btn btn-danger" type="submit" value="Delete" />
                                    }

                             </p>
                        }

                    </fieldset>

                }

                @if (this.User.IsInRole("admin"))
                {
        <!--Переход на редактирование-->
                    using (Html.BeginForm("ViewTestEdit", "Test", FormMethod.Post))
                    {
                        <input type="hidden" name="id_test" value="@Model.Id" />
                        <input class="btn btn-primary" type="submit" value="Edit" />
                    }
                }
            </div>

        </div>
    </div>

</body>
</html>

