@model DistanceLearning.Web.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/login.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 level_1_register">
                <div class="level_2_register">
                    <div class="level_3_register">
                        <div class="level_4_register">
                            <img src="~/img/picture.png" width="363" height="341" />
                        </div>
                        <div class="level_text">
                            <p>Distance Learning</p>
                            <hr />
                            <div class="registration-block">
                                <div class="enter">
                                    <h1>Sing Up</h1>
                                </div>
                                <div class="inputValues">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(false)
                                        <h4>Name</h4>
                                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "input", @placeholder = "Name" } })
                                            <h4>Surname</h4>
                                            @Html.EditorFor(m => m.SurName, new { htmlAttributes = new { @class = "input", @placeholder = "Surname" } })
                                            <h4>Middle Name</h4>
                                            @Html.EditorFor(m => m.MiddleName, new { htmlAttributes = new { @class = "input", @placeholder = "Middle Name" } })
                                            <h4>E-mail</h4>
                                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "input", @placeholder = "E-mail" } })
                                            <h4>Password</h4>
                                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "input", @placeholder = "Password" } })
                                            <h4>Confirm the password</h4>
                                            @Html.EditorFor(m => m.PasswordConfirm, new { htmlAttributes = new { @class = "input", @placeholder = "Password" } })
                                            <div><input type="submit" value="Sign Up" class="btn btn-success btn-lg" style="margin:5px 0 10px 0;"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

