<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="font-family:'Poiret One',cursive;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Distance Learning", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (this.User.IsInRole("user"))
                    {
                        <li>@Html.ActionLink("Personal Area", "ViewUserCourses", "Users")</li>
                    }
                    @if (this.User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Personal Area", "ViewLectorCabinet", "Lector")</li>
                    }

                    @if (this.User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("Exit", "Logout", "Account")</li>
                    }
                    else
                    {

                        <li>@Html.ActionLink("Sing In", "Login", "Account")</li>

                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
