@model DistanceLearning.Web.Models.Course
@{
    ViewBag.Title = "Course";
}
@using DistanceLearning.Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="~/Content/CourseInfo.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <div class="head_text">
                <h1>@Html.DisplayFor(model => model.Name)</h1>
                    @if (this.User.IsInRole("admin"))
            {
                using (Html.BeginForm("Delete", "Courses", FormMethod.Post))
                {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="hidden" name="Id" value="@Model.Id" />
                                <input class="btn btn-danger" type="submit" value="Delete" />
                            </div>
                            <br />
                        }
                    }

                    @if (this.User.IsInRole("admin"))
            {
                using (Html.BeginForm("Edit", "Courses", FormMethod.Get))
                {
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input class="btn btn-primary" type="submit" value="Edit" />
                        }
                    }
                    @if (this.User.IsInRole("user"))
            {
                if (ViewBag.IsSubcribe == true)
                {
                            <div class="alert alert-success" role="alert">
                                You are subscribed to the course
                            </div>

                            using (Html.BeginForm("LeaveCourse", "Users", FormMethod.Post))
                            {
                                <input type="hidden" name="Course_id" value="@Model.Id" />
                                <input class="btn btn-primary" type="submit" value="Unsubscribe" />
                            }

                        }
                        else
                        {
                            using (Html.BeginForm("SubscribeOnCourse", "Users", FormMethod.Post))
                            {
                                <input type="hidden" name="Course_id" value="@Model.Id" />
                                <input class="btn btn-primary" type="submit" value="Subscribe" />
                            }
                        }
                    }


                <p>Hours @Html.DisplayFor(model => model.Hours)</p>
                </div>
            <div class="list_lesson">
                <h2>Lessons</h2>
                @foreach (var item in Model.Lessons)
            {


                    @Html.DisplayFor(modelItem => item.Name)
                    <br />
                    <!--(*-*)-->
                    <!--
                    <h7>[Html.RouteLink("Подробнее", new { controller = "Lesson", action = "ViewLessonAbout", Id = item.Id })
                    ]</h7>-->
                    <a class="btn btn-primary" href="/Lesson/ViewLessonAbout?id_lesson=@item.Id">
                        Lesrn More
                    </a>
                    <br />
                    if (this.User.IsInRole("admin"))
                    {
                        using (Html.BeginForm("Delete", "Lesson", FormMethod.Post))
                        {
                            <input type="hidden" name="id_lesson" value="@item.Id" />
                            <input class="btn btn-danger" type="submit" value="Delete" />
                            <br />
                        }
                    }
                }
                </div>
            <div class="list_test">
                <fieldset>

                    <legend>Tests</legend>
                    @foreach (Test item in ViewBag.Tests)
                    {
                        if (!(item.GetType().ToString()).Contains("Exam"))
                        {<p>@item.Name</p>

                            if (this.User.IsInRole("admin"))
                            {
                                <a class="btn btn-primary" href="/Test/ViewTestAbout?id_test=@item.Id">
                                    Learn More
                                </a>
                                <br />
                                using (Html.BeginForm("Delete", "Test", FormMethod.Post))
                                {
                                    <input type="hidden" name="id_test" value="@item.Id" />
                                    <input class="btn btn-danger" type="submit" value="Delete" />
                                    <br/>
                                }
                            }
                            if (this.User.IsInRole("user") && ViewBag.IsSubcribe)
                            {
                                //28 04
                                if (((List<int>)ViewBag.id_passed_tests).Where(i => i == item.Id).FirstOrDefault() == item.Id)
                                {

                                    <p style="color:#00ff00">Test passed</p>

                                }
                                else
                                {
                                    <a class="btn btn-primary" href="/Test/TestRun?id_test=@item.Id">
                                        Pass the
                                    </a>
                                }


                            }
                        }

                    }
                </fieldset>
                <br/>
                <!--27 04-->

                <fieldset>

                    <legend>Exam</legend>

                    @foreach (var m in ViewBag.Exam)
            {
                if (@ViewBag.Exam != null)
                {
                            <p>@m.Name</p>

                            if (this.User.IsInRole("admin"))
                            {
                                <a class="btn btn-primary" href="/Test/ViewTestAbout?id_test=@m.Id">
                                    Learn More
                                </a>
                                using (Html.BeginForm("Delete", "Test", FormMethod.Post))
                                {
                                    <input type="hidden" name="id_test" value="@m.Id" />
                                    <input class="btn btn-danger" type="submit" value="Delete" />
                                }
                            }
                            if (this.User.IsInRole("user") && ViewBag.IsSubcribe)
                            {
                                if (ViewBag.Ability)
                                {
                                    <a class="btn btn-primary" href="/Test/TestRun?id_test=@m.Id">
                                        Pass the
                                    </a>
                                }
                                else
                                {
                                    if (ViewBag.ExamPassed)
                                    {

                                        <p style="color:#00ff00">Exam passed</p>

                                    }
                                    else
                                    {

                                        <p style="color:#ff0000">Pass (not available)</p>

                                    }
                                }
                            }
                        }
                    }

                </fieldset>
            </div>
            </div>
</div>
</body>
</html>




