@model DistanceLearning.Web.Models.Course
@{
    ViewBag.Title = "Course";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <link rel="stylesheet" href="~/Content/CourseInfo.css">
    <link rel="stylesheet" href="~/Content/TextBox.css">
    <div>
        <h7 align="left"><font size="8"><font face="Times New Roman, Times, serif"><b>@Html.DisplayFor(model => model.Name)</b></font></font></h7>
        <h7>
            @if (this.User.IsInRole("admin"))
            {
                using (Html.BeginForm("Delete", "Courses", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="hidden" name="Id" value="@Model.Id" />
                     <input class="input-style" type="submit" value="Удалить" />
                    </div>
                }
            }
        </h7>
        <h7>
            @if (this.User.IsInRole("admin"))
            {
                using (Html.BeginForm("Edit", "Courses", FormMethod.Get))
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input class="input-style" type="submit" value="Редактировать" />
                }
            }
        </h7>
        <h7>
            @if (this.User.IsInRole("user"))
            {
                if (@ViewBag.IsSubcribe == true)
                {
                    <div class="alert alert-success" role="alert">
                        Вы подписаны на курс
                    </div>

                    using (Html.BeginForm("LeaveCourse", "Users", FormMethod.Post))
                    {
                        <input type="hidden" name="Course_id" value="@Model.Id" />
                        <input class="input-style" type="submit" value="Отписаться" />
                    }

                }
                else
                {
                    using (Html.BeginForm("SubscribeOnCourse", "Users", FormMethod.Post))
                    {
                    <input type="hidden" name="Course_id" value="@Model.Id" />
                    <input class="input-style" type="submit" value="Подписаться" />
                    }
                }
            }
        </h7>


        <p align="left"><font size="2">Количество часов @Html.DisplayFor(model => model.Hours)</font></p>
        <hr />
        <p>Уроки</p>
        @foreach (var item in Model.Lessons)
        {
            
                
                    @Html.DisplayFor(modelItem => item.Name)
                    <!--(*-*)-->
                    <!--
                    <h7>[Html.RouteLink("Подробнее", new { controller = "Lesson", action = "ViewLessonAbout", Id = item.Id })
                    ]</h7>-->
                    <a href="/Lesson/ViewLessonAbout?id_lesson=@item.Id">
                        Подробнее
                    </a>
                    <br />
                    if (this.User.IsInRole("admin"))
                    {
                        using (Html.BeginForm("Delete", "Lesson", FormMethod.Post))
                        {
                        <input type="hidden" name="id_lesson" value="@item.Id" />
                        <input class="input-style" type="submit" value="удалить" />
                            }
                        }
                    }
                    
                        <fieldset>

                            <legend>Тесты</legend>
                            @foreach (var item in ViewBag.Tests)
                    {

                        <p>@item.Name</p>

                        if (this.User.IsInRole("admin"))
                        {
                            <a href="/Test/ViewTestAbout?id_test=@item.Id">
                                Подробнее
                            </a>
                                using (Html.BeginForm("Delete", "Test", FormMethod.Post))
                                {
                                  <input type="hidden" name="id_test" value="@item.Id" />
                                  <input class="input-style" type="submit" value="удалить" />
                                }
                         }
                        if(this.User.IsInRole("user"))
                        {
                                  <a href="/Test/TestRun?id_test=@item.Id">
                                      Пройти
                                  </a>
                        }
 }
                        </fieldset>

    </div>
</body>
</html>




