@model DistanceLearning.Web.Models.Course
@{
    ViewBag.Title = "Course";
}
@using DistanceLearning.Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <link rel="stylesheet" href="~/Content/CourseInfo.css">
    <link rel="stylesheet" href="~/Content/TextBox.css">
    <div>
        <h7 align="left"><font size="8"><font face="Times New Roman, Times, serif"><b>@Html.DisplayFor(model => model.Name)</b></font></font></h7>
        <h7>
            @if (this.User.IsInRole("admin"))
            {
                using (Html.BeginForm("Delete", "Courses", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="hidden" name="Id" value="@Model.Id" />
                     <input class="input-style" type="submit" value="Удалить" />
                    </div>
                }
            }
        </h7>
        <h7>
            @if (this.User.IsInRole("admin"))
            {
                using (Html.BeginForm("Edit", "Courses", FormMethod.Get))
                {
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input class="input-style" type="submit" value="Редактировать" />
                }
            }
        </h7>
        <h7>
            @if (this.User.IsInRole("user"))
            {
                if (ViewBag.IsSubcribe == true)
                {
                    <div class="alert alert-success" role="alert">
                        Вы подписаны на курс
                    </div>

                    using (Html.BeginForm("LeaveCourse", "Users", FormMethod.Post))
                    {
                        <input type="hidden" name="Course_id" value="@Model.Id" />
                        <input class="input-style" type="submit" value="Отписаться" />
                    }

                }
                else
                {
                    using (Html.BeginForm("SubscribeOnCourse", "Users", FormMethod.Post))
                    {
                    <input type="hidden" name="Course_id" value="@Model.Id" />
                    <input class="input-style" type="submit" value="Подписаться" />
                    }
                }
            }
        </h7>


        <p align="left"><font size="2">Количество часов @Html.DisplayFor(model => model.Hours)</font></p>
        <hr />
        <p>Уроки</p>
        @foreach (var item in Model.Lessons)
        {
            
                
                    @Html.DisplayFor(modelItem => item.Name)
                    <!--(*-*)-->
                    <!--
                    <h7>[Html.RouteLink("Подробнее", new { controller = "Lesson", action = "ViewLessonAbout", Id = item.Id })
                    ]</h7>-->
                    <a href="/Lesson/ViewLessonAbout?id_lesson=@item.Id">
                        Подробнее
                    </a>
                    <br />
                    if (this.User.IsInRole("admin"))
                    {
                        using (Html.BeginForm("Delete", "Lesson", FormMethod.Post))
                        {
                        <input type="hidden" name="id_lesson" value="@item.Id" />
                        <input class="input-style" type="submit" value="удалить" />
                            }
                        }
                    }
                    
                        <fieldset>

                            <legend>Тесты</legend>
                            @foreach (Test item in ViewBag.Tests)
                            {
                                if (!(item.GetType().ToString()).Contains("Exam"))
                                {<p>@item.Name</p>

                                    if (this.User.IsInRole("admin"))
                                    {
                            <a href="/Test/ViewTestAbout?id_test=@item.Id">
                                Подробнее
                            </a>
                                        using (Html.BeginForm("Delete", "Test", FormMethod.Post))
                                        {
                                  <input type="hidden" name="id_test" value="@item.Id" />
                                  <input class="input-style" type="submit" value="удалить" />
                                        }
                                    }
                                    if (this.User.IsInRole("user")&& ViewBag.IsSubcribe)
                                    {
                                  <a href="/Test/TestRun?id_test=@item.Id">
                                      Пройти
                                  </a>
                                        }
                                 }

                                }
                        </fieldset>
        <!--27 04-->

        <fieldset>

            <legend>Экзамен</legend>

            @foreach (var m in ViewBag.Exam)
            {
                if (@ViewBag.Exam != null)
                {
                <p>@m.Name</p>

                    if (this.User.IsInRole("admin"))
                    {
                    <a href="/Test/ViewTestAbout?id_test=@m.Id">
                        Подробнее
                    </a>
                        using (Html.BeginForm("Delete", "Test", FormMethod.Post))
                        {
                        <input type="hidden" name="id_test" value="@m.Id" />
                                <input class="input-style" type="submit" value="удалить" />
                        }
                    }
                    if (this.User.IsInRole("user")&& ViewBag.IsSubcribe)
                    {
                        if (ViewBag.Ability)
                        {
                    <a href="/Test/TestRun?id_test=@m.Id">
                        Пройти
                    </a>
                        }
                        else
                        {
                            if (ViewBag.ExamPassed)
                            {

                                <p style="color:#00ff00">Экзамен пройден</p>

                            }
                            else
                            {

                                <p style="color:#ff0000">Пройти(не доступно)</p>

                            }
                        }
                    }
                }
            }

        </fieldset>
    </div>
</body>
</html>




